<!-- Footer -->
<footer style="color: white;" class="page-footer font-small mdb-color lighten-3 pt-4 bg-dark">

  <!-- Footer Links -->
  <div  class="container text-center  text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mb-4">Proudly</h5>
        
        <p>We offers a wide assortment of Classic and Professional watch models to suit any wrist. Discover the broad selection of Rolex watches to find a perfect combination of style and functionality.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mb-4">Links</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <a class="btn btn-primary" href="log">Login</a>
            </p>
          </li>
          <li>
            <p>
              <a  class="btn btn-primary" href="reg">Sign Up</a>
            </p>
          </li>
          <li>
            <p>
              <a class="btn btn-primary" href="#">About Us</a>
            </p>
          </li>
          <li>
            <p>
              <a class="btn btn-primary" href="#!">AWARDS</a>
            </p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Contact details -->
        <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              Address : Akola maharashtra India</p>
          </li>
          <li>
            <p>
              Email :  s@gmail.com</p>
          </li>
          <li>
            <p>
              Mobile Number + 01 234 567 88</p>
          </li>
          <li>
            <p>
              Mobile Number :  + 01 234 567 89</p>
          </li>
        </ul>

      </div>
    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div  class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> watches.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->