.card {
  width: 18rem;
  margin: 2rem;
  float: left;
}
.image-grid-container {
  display: grid;

  /* For 3 columns */
  grid-template-columns: auto auto auto auto;
}
img {
  width: 100%;
}

/* Navigation Bar */
.navbar{
  padding: 20px 10px 20px 0px;
  background-color:rgba(5, 124, 235, 0.87);
}
.navbar-brand{
  margin-left: 20px;

  font-size: 25px;
  color: mintcream;
}

.link{
    position: absolute;
    top: 14px;
    right: 16px;
    font-size: 18px;
}
.link a{
  margin-top: 6px;
margin-right: 20px;
}
